<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>博客列表</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <ul class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li><a href="#">2018</a></li>
        <li><a href="active">十一月</a></li>
    </ul>
    <table class="table">
        <caption>文章列表</caption>
        <thead>
            <tr>
                <th>ID</th>
                <th>标题</th>
                <th>内容</th>
                <th>作者</th>
                <th>时间</th>
            </tr>
        </thead>
        <tbody>
           {% for d in list %}
            <tr>
                <td>{{ d.id }}</td>
                <td>{{ d.title }}</td>
                <td>
                    {% if d.content|length > 30 %}
                        {{ d.content|slice:'30' }}
                        {% else %}
                        {{ d.content }}
                    {% endif %}
                </td>
                <td>{{ d.author }}</td>
                <td>{{ d.time }}</td>
            </tr>
            {% endfor %}
        </tbody>

    </table>
<!--    <form action="/db_handle/" method="post">-->
<!--        <p>用户名：<input name="username"/></p>-->
<!--        <p>密码：<input name="password"/></p>-->
<!--        <p>年龄：<input name="age"/></p>-->
<!--        <p><input type="submit" value="submit"/></p>-->
<!--    </form>-->
</body>
</html>