<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>博客编辑</title>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<form class="form-horizontal" role="form" method="post" action="../edit/">
    <input type="hidden" name="id" value="{{ data.id }}"/>
	<div class="form-group">
		<label class="col-sm-2 control-label">标题</label>
		<div class="col-sm-10">
			<input name="title" class="form-control-static" value="{{ data.title }}" placeholder="输入标题">
		</div>
	</div>
    <div class="form-group">
		<label class="col-sm-2 control-label">内容</label>
		<div class="col-sm-10">
			<input name="content" class="form-control-static" value="{{ data.content }}" placeholder="输入内容"/>
		</div>
	</div>
    <div class="form-group">
		<label class="col-sm-2 control-label">作者</label>
		<div class="col-sm-10">
			<input name="author" class="form-control-static" value="{{ data.author }}" placeholder="输入作者">
		</div>
	</div>
    <input type="submit" class="text-right btn btn-primary"/>
</form>
</body>
</html>